body {
	padding-top: 50px;
}

@media ( max-width : 768px) {
	.navbar-fixed-bottom {
		position: relative;
	}
}

@media ( min-width : 768px) {
	.navbar-fixed-bottom {
		position: fixed;
	}
}

.custom-footer-panel {
	margin-bottom: 0px;
	border-width: 1px 0px 1px 0px;
}

/*
@media ( max-width : 768px) {
.custom-background
{
	min-height: 400px;
}
}
@media ( min-width : 768px) {
.custom-background
{
	min-height: 600px;
}
}*/
.custom-background {
	background: transparent url("../images/calcuttahighcourt.jpg") no-repeat
		fixed 50% center/cover;
}

@media ( max-width : 768px) {
	.custom-footer-row {
		text-align: left;
	}
}

@media ( min-width : 768px) {
	.custom-footer-row {
		text-align: center;
	}
}

@media ( max-width : 768px) {
	.custom-footer-links {
		padding: 2px;
	}
}

@media ( min-width : 768px) {
	.custom-footer-links {
		padding: 20px;
		border: 1px solid transparent;
		border-radius: 5px;
	}
}

.custom-footer-links:hover {
	background-color: #82CEE5;
	color: black;
	text-decoration: none;
	border-color: white;
}

.custom-panel { 
	background-color: rgba(255, 255, 255, .3); 
}

.custom-panel2 {
	background-color: rgba(0, 0, 255, .7); 
}

@media ( max-width : 768px) {
	.custom-bottom {
		bottom: 0px;
	}
}

@media ( min-width : 768px) {
	.custom-bottom {
		margin-bottom: 40px;
	}
}

@media ( max-width : 768px) {
	.custom-navbar-brand-img {
		height: 25px;	
	}
}
@media ( min-width : 768px) and (max-width : 910px) {
	.custom-navbar-brand-img{
		height: 30px;	
		display:none;
	}
	.custom-logo-2:after {
		content:url("http://calcutta_high_court2.dev/images/logo3.png");
		
	}
}
@media ( min-width : 910px) and (max-width : 1050px) {
	.custom-navbar-brand-img{
		height: 30px;	
		display:none;
	}
	.custom-logo-2:after {
		content:url("http://calcutta_high_court2.dev/images/logo2.png");
		
	}
}
@media ( min-width : 1050px) {
	.custom-navbar-brand-img {
		height: 30px;
	}
}


@media ( max-width : 768px) {
	.custom-main-container {
		margin-bottom: 10px;	
	}
}
@media ( min-width : 768px) {
	.custom-main-container {
		margin-bottom: 140px;
	}
}

body {
    /*font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}




@media (min-width : 910px) and (max-width : 1050px) {
.nav li{
float:left;	
}
}

@media ( min-width : 768px) and (max-width : 910px) {
.nav li{
float:left;	
}
}